@use "../../../../../shared/styles/font.scss" as *;
@use "../../../../../shared/styles/variables.scss" as *;

.authentication_container {
  // max-width: $max-width-container;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .authentication_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .registration_step {
      width: 100%;
      height: 100%;
      border-right: 1px solid $primary_color_600;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      padding-top: 50px;
      .steps {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .form_wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f8e2ca;
    }
  }
}

.describe_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 50px;
}

.form_title {
  color: #f09069;
}
.sub_title {
  color: #228f48;
}
