@use "../../../../../shared/styles/variables.scss" as *;
@use "../../../../../shared//styles/font.scss" as *;

.form_text,
.form_subtext {
  width: 100%;
}

.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.input_group {
  text-align: start;
  padding: 0 20px;
  input {
    border-radius: 8px;
    width: 100%;
  }
  // :global(.ant-col-16 .ant-form-horizontal) {
  //   max-width: 100%;
  //   flex: 0;
  // }
}

.form_text {
  > a,
  .highlight {
    text-decoration: underline;
    color: $color-navi;
    cursor: pointer;
  }
}

.form_subtext {
  font-weight: 500;
  color: $color-text-sub;
  opacity: 0.8;
  line-height: 1.5;
  padding-bottom: 40px;
  max-width: 380px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}

// .form_container {
//   display: flex;
//   flex-direction: column;
// }

.btn {
  border: none;
  margin-top: 28px;
  margin-bottom: 28px;
  @extend .font_body_16r;
  width: 150px;
  border-radius: 4px;
  background-color: $primary_color_600;
}

.form_text_forgot_password {
  text-align: right;
  margin-top: -22px;
  padding: 0 20px;
}
